$blue: #4573ab;
$middle-blue: #325279;
$dark-blue: #294363;


$dark-grey: #353535;
$middle-grey: #e4e4eb;
$grey: #8f8f8f;
$gap: 20;

// Максимальная ширина экрана:
$screen-max-width: 824;
$screen-max-width-pr: 96%;

/* Стандартный экран:

  - Нижняя граница

 */
$bottom-standard: 981px;

/* Ландшафтный экран планшета:

 - Верхняя граница
 - Середина
 - Нижняя граница

 */
$top-landscape-note: 980px;
$middle-landscape-note: 860px;
$bottom-landscape-note: 768px;

/* Портретный экран планшета и Ландшафтный экран телефона:

  - Верхняя граница
  - Нижняя граница

 */
$top-portrait-note: 767px;
$bottom-portrait-note: 481px;

/* Портретный экран телефона:

  - Верхняя граница

 */
$top-portrait-phone: 480px;









/* Только стандартный экран: */
$only-standard: "(min-width: #{$bottom-standard})";

/* Только ландшафтный экран планшета */
$only-landscape-note: "(min-width: #{$bottom-landscape-note}) and (max-width: #{$top-landscape-note})";

/* Только портретный экран планшета: */
$only-portrait-note: "(min-width: #{$bottom-portrait-note}) and (max-width: #{$top-portrait-note})";

/* Только портретный экран телефона */
$only-portrait-phone: "(max-width: #{$top-portrait-phone})";





/* Все размеры меньше стандартного экрана:

  - Ландшафтный экран планшета
  - Середина ландшафтного экрана планшета
  - Портретный экран планшета (Он же ландшафтный экрана телефона)
  - Портретный экран телефона

*/
$less-standard: "(max-width: #{$top-landscape-note})";

/* Все размеры меньше середины ландшафтного экрана планшета:

  - Середина ландшафтного экрана планшета
  - Портретный экран планшета (Он же ландшафтный экрана телефона)
  - Портретный экран телефона

*/
$less-middle-landscape-note: "(max-width: #{$middle-landscape-note})";


/* Все размеры меньше ландшафтного экрана планшета:

  - Портретный экран планшета (Он же ландшафтный экрана телефона)
  - Портретный экран телефона

 */
$less-landscape-note: "(max-width: #{$top-portrait-note})";










/* Все размеры больше портретного экрана планшета:

  - Стандартный экран
  - Ландшафтный экран планшета
  - Середина ландшафтного экрана планшета

 */
$large-portrait-note: "(min-width: #{$bottom-landscape-note})";



/* Все размеры больше портретного экрана телефона:

  - Стандартный экран
  - Ландшафтный экран планшета
  - Середина ландшафтного экрана планшета
  - Портретный экран планшета (Он же ландшафтный экрана телефона)

 */
$large-portrait-phone: "(min-width: #{$bottom-portrait-note})";
