<template>
    <div class="avatar">
        <img class="img" :src="avatar ? avatar : require('@/assets/img/male.svg')"  />
    </div>
</template>
<script>
    export default {
        props: {
            avatar: {
                type: String
            }
        }
    };
</script>
<style lang="scss">
    .avatar {
        background: white;
        border: solid rem(1) $middle-grey;
        border-radius: 50%;
        display: flex;
        height: rem(150);
        justify-content: center;
        width: rem(150);
    }
</style>
