<template>
    <table class="profile-details">
        <tbody class="profile-details__tbody">
            <tr class="profile-details__row" v-for="row in getDetails">
                <td class="profile-details__cell">
                    <span class="profile-details__key">
                        {{ row.title }}
                    </span>
                </td>
                <td class="profile-details__cell">
                    <a v-if="row.link" class="profile-details__link" :href="row.link" >{{ row.value ? row.value : row.alt }}</a>
                    <span v-else class="profile-details__value">{{ row.value ? row.value : row.alt }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        props: {
            profile: {
                type: Object,
                required: true
            }
        },

        computed: {
            getDetails() {
                return [
                    {
                        title: "Номер телефона:",
                        value: this.profile.phoneNumber,
                        alt: "8 (985) 412-44-37"
                    },

                    {
                        title: "Электронная почта:",
                        value: this.profile.email,
                        alt: "Не указана",
                        link: `mailto:${this.profile.email}`
                    }
                ];
            }
        }
    };
</script>
<style lang="scss">
    .profile-details {
        &,
        &__tbody {
            width: 100%;
        }

        &__cell {
            padding-bottom: rem(15);
            vertical-align: bottom;
        }

        &__key {
            box-sizing: border-box;
            color: #6a6a6a;
            font-size: rem(14);
            padding-right: rem(10);
            width: 45%;
        }

        &__value {
            color: black;
            font-size: rem(16);
        }

        &__link {
            & {
                color: $blue;
                font-size: rem(16);
            }

            &:hover {
                color: crimson;
            }
        }
    }
</style>
