<template>
    <div class="full-name">{{ fullName }}</div>
</template>
<script>
    export default {
        props: {
            name: {
                type: String,
                required: true
            },
            surname: {
                type: String
            }
        },

        computed: {
            fullName() {
                return `${this.name} ${this.surname ? this.surname : ""}`;
            }
        }
    };
</script>
<style lang="scss">
    .full-name {
        border-bottom: rem(1) solid $middle-grey;
        box-sizing: border-box;
        color: $dark-grey;
        font-size: rem(23);
        font-weight: bold;
        margin-bottom: rem(20);
        padding: rem(10) 0;
        width: 100%;
    }
</style>
