<template>
    <div class="note">
        <div class="note__title">
            ИНФОРМАЦИЯ
        </div>
        <div class="note__description">
            {{ note ? note : 'Информация отсутствует' }}
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            note: {
                type: String
            }
        }
    };
</script>
<style lang="scss">
    .note {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__title {
            border-bottom: rem(1) solid $middle-grey;
            box-sizing: border-box;
            color: #6a6a6a;
            display: flex;
            font-weight: bold;
            justify-content: flex-start;
            margin-top: rem(20);
            padding: rem(10);
            width: 100%;
        }

        &__description {
            display: flex;
            margin-top: rem(10);
            width: 100%;
        }
    }
</style>
