<template>
    <button @click="showEditProfile()" class="to-edit">
        Редактировать
    </button>
</template>
<script>
    export default {
        inject: ["showEditProfile"]
    };
</script>
<style lang="scss">
    .to-edit {
        & {
            background: $middle-grey;
            border: none;
            border-radius: rem(7);
            color: #6a6a6a;
            font-size: rem(14);
            font-weight: bold;
            margin-top: rem(10);
            outline: none;
            padding: rem(7) 0;
            text-align: center;
            width: 100%;
        }

        &:hover {
            background: #bdbdc4;
            cursor: pointer;
        }
    }
</style>
