<template>
    <div class="auth-error">
        <div class="auth-error__title">
            Не удаётся войти
        </div>
        <div class="auth-error__message">
            {{ message }}
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            message: {
                type: String
            }
        }
    };
</script>
<style lang="scss">
    .auth-error {
        & {
            background-color: #ffeaea;
            border: rem(1) solid #ffdee3;
            border-radius: rem(4);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: rem(15);
            width: 100%;
        }

        &__title {
            color: $dark-grey;
            display: flex;
            font-weight: bold;
            margin-bottom: rem(10);
            width: 100%;
        }

        &__message {
            color: #cb524f;
        }
    }
</style>
