<template>
    <button class="button"
            :class="{'button_disabled': disabled}">
        <span>
            {{ value }}
        </span>
    </button>
</template>
<script>
    export default {
        props: {
            disabled: {
                type: Boolean
            },
            value: {
                type: String,
                default() {
                    return "Отправить";
                }
            }
        }
    };
</script>
<style lang="scss">
    .button {
        & {
            background: $blue;
            border: none;
            border-radius: rem(4);
            color: white;
            display: block;
            float: right;
            font-size: rem(16);
            font-weight: bold;
            outline: none;
            padding: rem(12) rem(9);
            width: 100%;
        }

        &:hover {
            background: rgba(69, 115, 171, 0.62);
            cursor: pointer;
        }

        &_disabled {
            background: rgba(69, 115, 171, 0.62);
        }
    }
</style>
