<template>
    <div class="captcha">
        <div class="captcha__g-recaptcha" ref="wrapper">
            <vue-recaptcha :style="style" @verify="onVerify" :sitekey="siteKey" />
        </div>
        <div class="captcha__error" v-if="validation.$dirty && validation.$invalid">
            <error-component :value="'Пожалуйста, пройдите проверку'" />
        </div>
    </div>
</template>
<script>
    const captchaWidth = 302;

    export default {
        props: {
            value: {
                type: Boolean,
                required: true
            },

            siteKey: {
                type: String,
                required: true
            },

            validation: {
                type: Object
            }
        },

        data() {
            return {
                style: {
                    transform: "scale(1)",
                    transformOrigin: "0 0"
                }
            };
        },

        components: {
            VueRecaptcha: () => import("vue-recaptcha"),
            ErrorComponent: () => import("@/components/error.vue")
        },

        mounted() {
            window.addEventListener("resize", this.updateRecaptchaStyles);
            this.updateRecaptchaStyles();
        },

        destroyed() {
            window.removeEventListener("resize", this.updateRecaptchaStyles);
        },

        methods: {
            onVerify(response) {
                if (response !== null) {
                    this.$emit("update:value", true);
                    this.validation.$touch; // eslint-disable-line no-unused-expressions
                }
            },

            updateRecaptchaStyles() {
                const wrapperWidth = this.$refs.wrapper.offsetWidth;
                let transformScale = 1;
                if (wrapperWidth) {
                    transformScale = wrapperWidth / captchaWidth;
                }
                this.style.transform = `scale(${transformScale})`;
            }
        }

    };
</script>
<style lang="scss">
    .captcha {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__g-recaptcha {
            display: flex;
            width: 100%;
        }

        &__error {
            display: flex;
            margin-top: rem(5);
            width: 100%;
        }
    }
</style>
