<template>
    <div class="input-field">
        <div class="input-field__field"
             :class="{  'input-field__field_focus': state === statesEnum.FOCUS,
                        'input-field__field_error': state === statesEnum.ERROR,
                        'input-field__field_valid': state === statesEnum.VALID }">
                <input class="input-field__input"
                       :placeholder="placeholder"
                       :type="type"
                       :name="name"
                       :value="value"
                       @focus="focus"
                       @blur="update($event)"
                />
                <span class="input-field__icon" v-html="icon" />
        </div>

        <div class="input-field__error" v-if="hasErrors">
            <error-component v-for="(error, index) in errors" :value="error" :key="index" />
        </div>
    </div>
</template>
<script>
    export default {

        props: {
            placeholder: {
                type: String
            },
            type: {
                validator: (value) => ["text", "email", "password"].indexOf(value) !== -1,
                default() {
                    return "text";
                }
            },
            name: {
                type: String
            },
            value: {
                type: String,
                required: true
            },
            icon: {
                type: String
            },
            validation: {
                type: Object
            },
            errors: {
                type: Array
            }
        },

        data() {
            return {
                isFocus: false,
                statesEnum: {
                    FOCUS: "focus",
                    ERROR: "error",
                    VALID: "valid"
                }
            };
        },

        computed: {
            state() {
                if (this.isFocus) {
                    return this.statesEnum.FOCUS;
                }
                else if (!this.validation.$dirty) {
                    return null;
                }
                else if (this.hasErrors) {
                    return this.statesEnum.ERROR;
                }

                return this.statesEnum.VALID;
            },

            hasErrors() {
                return Boolean(this.errors) && this.errors.length > 0;
            }
        },

        methods: {
            focus() {
                this.isFocus = true;
            },

            update(event) {
                const value = event.target.value.trim();

                this.$emit("update:value", value);
                this.validation.$touch();
                this.isFocus = false;
            }
        },

        components: {
            ErrorComponent: () => import("@/components/error.vue")
        }
    };
</script>
<style lang="scss">
    .input-field {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__field {
            border: 0 solid $middle-grey;
            border-bottom-width: rem(2);
            display: flex;
            width: 100%;

            &_focus {
                border-color: $blue;
            }

            &_error {
                border-color: crimson;
            }

            &_valid {
                border-color: green;
                color: green;
            }
        }

        &__input {
            & {
                border: none;
                display: flex;
                flex-grow: 1;
                font-size: rem(17);
                outline: none;
                padding: rem(6) 0;
                width: 100%;
            }

            &::placeholder {
                color: grey;
                opacity: 1;
            }

            &:valid,
            &:invalid {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }

        &__icon {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            fill: grey;
            max-width: 100%;
            padding: rem(6) rem(4);
            width: rem(28);
        }
    }
</style>
