<template>
    <button class="button">
        <span>
            <slot />
        </span>
    </button>
</template>
<style lang="scss">
    .button {
        & {
            background: $blue;
            border-radius: rem(7);
            font-size: rem(15);
            font-weight: bold;
            padding: rem(6) rem(15);
        }

        &:hover {
            background: $middle-blue;
            cursor: pointer;
        }

        &:active {
            background: $dark-blue;
        }

        span {
            color: white;
            display: flex;
            justify-content: center;
            max-height: 100%;
            max-width: 100%;
        }
    }
</style>
