<template>
    <div class="custom-select" ref="dropdown">
        <button class="input custom-select__button" :class="{'custom-select__button_dropped': isDropped }" @click.prevent="toggle()">
                <span class="custom-select__inner">
                    <span class="custom-select__select"
                          :class="{'custom-select__select_placeholder': !selected }">{{ selected ? selected: placeholder }}</span>
                    <span class="custom-select__arrow" v-html="require('@/assets/img/arrow_down.svg?inline')" />
                </span>
        </button>
        <ul class="custom-select__dropdown" v-show="isDropped">
            <li class="custom-select__option"
                v-for="option in options"
                @click="selectOption(option)" >
                <label class="custom-select__label"
                       :class="{'custom-select__label_active': value === option.value}">
                    <input class="custom-select__checkbox"
                           type="checkbox"
                           :value="option.value"/>
                    {{option.text}}
                </label>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {

        props: ["options", "value", "placeholder"],

        data() {
            return {
                isDropped: false
            };
        },

        components: {
        },

        methods: {
            dropdown(e) {
                if (this.isDropped) {
                    const el = this.$refs.dropdown;
                    const target = e.target;

                    if (el !== target && !el.contains(target)) {
                        this.isDropped = false;
                    }
                }
            },

            selectOption(option) {
                this.$emit("update:value", option.value);
                this.isDropped = false;
            },

            toggle() {
                this.isDropped = !this.isDropped;
            }
        },

        computed: {
            selected() {
                let selected;
                this.options.forEach((option) => {
                    if (option.value === this.value) {
                        selected = option.text;
                    }
                });

                return selected ? selected : this.placeholder;
            }
        },

        created() {
            document.addEventListener("click", this.dropdown);
        },
        destroyed() {
            document.removeEventListener("click", this.dropdown);
        }
    };
</script>
<style lang="scss">
    .custom-select {
        & {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
        }

        &__button {
            &:focus {
                border-bottom-color: $middle-grey;
            }

            &_dropped {
                box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
            }
        }

        &__inner {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: space-between;
            width: 100%;
        }

        &__select {
            & {
                box-sizing: border-box;
                color: $dark-grey;
                display: flex;
                font-size: rem(16);
                padding-left: rem(5);
            }

            &_placeholder {
                color: $grey;
            }
        }

        &__arrow {
            display: flex;
            fill: $grey;
            height: rem(6);
            width: rem(12);
        }

        &__dropdown {
            background: white;
            border: rem(1) solid $middle-grey;
            border-radius: 0 0 rem(7) rem(7);
            border-top: none;
            box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            max-height: rem(250);
            overflow-y: auto;
            padding: rem(5) 0;
            position: absolute;
            top: rem(48);
            width: 100%;
        }

        &__option {
            display: flex;
            flex-shrink: 0;
            width: 100%;
        }

        &__checkbox {
            display: none;
        }

        &__label {
            & {
                align-items: center;
                border-bottom: rem(1) solid $middle-grey;
                box-sizing: border-box;
                color: $dark-grey;
                display: flex;
                height: rem(30);
                padding: 0 rem(4);
                width: 100%;
            }

            &:hover {
                background: linear-gradient(#ebebf2, #f4f4fb);
                cursor: pointer;
            }

            &:active {
                background: linear-gradient(#bebec4, #bcbcc2);
            }

            &_active {
                background: linear-gradient(#e1e1e8, #dddde3);
            }
        }
    }
</style>
