<template>
    <element-component :type="'double'">
        <label-component :title="title" />

        <div class="date-input">
            <div class="date-input__day">
                <custom-select :options="getDays"
                               :value.sync="date.day"
                               :placeholder="'День'"
                                @change.native="syncUpdateValue()"/>
            </div>
            <div class="date-input__month">
                <custom-select :options="getMonths"
                               :value.sync="date.month"
                               :placeholder="'Месяц...'"
                               @change.native="syncUpdateValue()"/>
            </div>
            <div class="date-input__year">
                <custom-select :options="getYears"
                               :value.sync="date.year"
                               :placeholder="'Год'"
                               @change.native="syncUpdateValue()"/>
            </div>
        </div>
    </element-component>
</template>
<script>
    const monthNames = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
    const startYear = 1950;
    const lastYear = 2004;

    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            value: {
                type: String
            }
        },

        data() {
            return {
                date: {
                    day: 1,
                    month: 1,
                    year: 2004
                }
            };
        },

        created() {
            this.initDate(this.value);
            this.syncUpdateValue();
        },

        watch: {
            value(dateFormat) {
                this.initDate(dateFormat);
            }
        },

        methods: {
            initDate(dateFormat) {
                if (dateFormat) {
                    const parts = this.value.split("-");

                    this.date.day = parseInt(parts[2], 10);
                    this.date.month = parseInt(parts[1], 10);
                    this.date.year = parseInt(parts[0], 10);
                }
            },

            syncUpdateValue() {
                this.validateYear();
                this.validateMonth();
                this.validateDay();
                this.$emit("update:value", this.getFormatDate());
            },

            validateYear() {
                if (this.date.year < startYear) {
                    this.date.year = startYear;
                }
                else if (this.date.year > lastYear) {
                    this.date.year = lastYear;
                }
            },

            validateMonth() {
                if (this.date.month < 1) {
                    this.date.month = 1;
                }
                else if (this.date.month > 12) {
                    this.date.month = 12;
                }
            },

            validateDay() {
                if (this.date.day > this.getDaysInMonth) {
                    this.date.day = this.getDaysInMonth;
                }
                else if (this.date.day < 1) {
                    this.date.day = 1;
                }
            },

            getFormatDate() {
                const day = this.date.day;
                const month = this.date.month;
                const year = this.date.year;

                return `${year}-${zeroPad(month, 2)}-${zeroPad(day, 2)}`;
            }
        },

        computed: {
            getYears() {
                let last = lastYear;
                const years = [];

                while ( last >= startYear ) {
                    years.push({
                        text: last,
                        value: last
                    });
                    last -= 1;
                }

                return years;
            },

            getMonths() {
                const months = [];

                monthNames.forEach((month, index) => {
                    months.push({
                        text: month,
                        value: index + 1
                    });
                });

                return months;
            },

            getDays() {
                let day = 1;
                const days = [];

                while (day <= this.getDaysInMonth) {
                    days.push({
                        text: day,
                        value: day
                    });
                    day += 1;
                }

                return days;
            },

            getDaysInMonth() {
                const date = this.date;

                return new Date(date.year,
                    date.month,
                    0).getDate();
            }
        },

        components: {
            CustomSelect: () => import("@/components/custom-select.vue"),
            LabelComponent: () => import("@/components/label.vue"),
            ElementComponent: () => import("@/components/element.vue")
        }
    };

    function zeroPad(num, places) {
        const zero = places - num.toString().length + 1;

        return Array(Number(zero > 0 && zero)).join("0") + num;
    }
</script>
<style lang="scss">
    .date-input {
        & {
            display: flex;
            width: 100%;
        }

        &__day {
            width: rem(50);
        }

        &__month {
            display: flex;
            flex-grow: 1;
        }

        &__year {
            width: rem(80);
        }
    }
</style>
