<template>
    <div class="element"
         :class="{'element_double': type === 'double'}">
        <slot />
    </div>
</template>
<script>
    export default {
        props: {
            type: {
                type: String,
                default: "single",
                validator: (value) => ["single", "double"].indexOf(value) !== -1
            }
        }
    };
</script>
<style lang="scss">
    .element {
        & {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: rem(20);
            width: 100%;
        }

        &_double {
            width: 48%;

            @media #{$less-landscape-note} {
                width: 100%;
            }
        }
    }
</style>
