<template>
    <element-component :type="'double'">
        <label-component
                :title="title" />

        <div class="gender">
            <button v-for="gender in genders"
                    class="input gender__item"
                    :class="{'gender__item_active': gender.value === value}"
                    @click="set(gender.value)"
                    :key="gender.value">
                {{ gender.text }}
            </button>
        </div>
    </element-component>
</template>
<script>
    export default {

        props: {
            value: {
                type: Number
            }
        },

        data() {
            return {
                title: "Пол:",
                genders: [
                    {
                        text: "Мужской",
                        value: 1
                    },
                    {
                        text: "Женский",
                        value: 2
                    }
                ]
            };
        },

        methods: {
            set(gender) {
                this.$emit("update:value", gender);
            }
        },

        components: {
            LabelComponent: () => import("@/components/label.vue"),
            ElementComponent: () => import("@/components/element.vue")
        }
    };
</script>
<style lang="scss">
    .gender {
        & {
            box-sizing: border-box;
            display: flex;
            width: 100%;
        }

        &__item {
            & {
                color: $dark-grey;
                justify-content: center;
                text-align: center;
                width: 50%;

                &:hover {
                    background: linear-gradient(#ebebf2, #f4f4fb);
                    cursor: pointer;
                }

                &:active {
                    background: linear-gradient(#bebec4, #bcbcc2);
                }
            }

            &_active {
                & {
                    background: $blue;
                    border-color: $blue;
                    color: white;
                    font-weight: bold;
                }

                &:active,
                &:hover {
                    background: $blue;
                }
            }
        }
    }
</style>
