<template>
    <div class="label">
        {{ title }} <star-component v-if="required" />
    </div>
</template>
<script>
    export default {

        props: ["title", "required"],

        components: {StarComponent: () => import("@/components/star.vue")}

    };
</script>
<style lang="scss">

    .label {
        color: #888;
        display: flex;
        font-size: rem(14);
        font-weight: bold;
        width: 100%;
    }
</style>


