<template>
    <preloader-component />
</template>
<script>
    import {authenticateOnServer, retrieveToken} from "@/services/AuthService";

    export default {
        components: {
            PreloaderComponent: () => import("@/components/preloader.vue")
        },

        created() {
            const i = window.location.href.indexOf("code");

            if (i !== -1) {
                const code = window.location.href.substring(i + 5);

                retrieveToken(code);
            }
            else {
                authenticateOnServer();
            }
        }
    };
</script>
<style lang="scss">
    .login {
        align-items: center;
        display: flex;
        flex-grow: 1;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
</style>
