<template>
    <transition
            @enter="enter"
            @leave="leave"
            :css="false">
        <div class="modal-tab" v-if="active">
            <div class="modal-tab__header">
                <button class="modal-tab__back" @click="back()">
                    <span>Назад</span>
                </button>

                <span class="modal-tab__title">
                {{ title }}
            </span>
            </div>
            <div class="modal-tab__body">
                <div class="modal-tab__content">
                    <slot />
                </div>
                <div class="modal-tab__toolbar" v-if="$slots.toolbar">
                    <button @click="close()" class="modal-tab__cancel">
                        <span>Отменить</span>
                    </button>
                    <slot name="toolbar" />
                </div>
            </div>
        </div>
    </transition>

</template>
<script>
    export default {
        data() {
            return {
                active: false
            };
        },

        props: {
            title: {
                required: true,
                type: String
            },
            isActive: {
                required: false,
                type: Boolean,
                default: false
            }
        },

        inject: ["close", "back", "addTab"],

        methods: {
            removeTab() {
                this.$destroy();
            },

            enter(el, done) {
                animate({
                    duration: 450,
                    timing(timeFraction) {
                        return timeFraction;
                    },
                    draw(progress) {
                        el.style.opacity = progress;
                    },
                    done
                });
            },

            leave(el, done) {
                if (this.isLargePortraitNote) {
                    animate({
                        duration: 450,
                        timing(timeFraction) {
                            return timeFraction;
                        },
                        draw(progress) {
                            el.style.opacity = 1 - progress;
                        },
                        done
                    });
                }
                else {
                    done();
                }
            }

        },

        computed: {
            isLargePortraitNote() {
                return this.$mq !== "landscapeNote" && this.$mq !== "standard";
            }
        },

        created() {
            this.active = this.isActive;
            this.addTab(this);
        }
    };

    function animate(options) {
        const start = performance.now();

        requestAnimationFrame(function animate(time) {
            let timeFraction = (time - start) / options.duration;
            if (timeFraction > 1) {
                timeFraction = 1;
            }
            const progress = options.timing(timeFraction);

            options.draw(progress);
            if (timeFraction < 1) {
                requestAnimationFrame(animate);
            }
            else {
                options.done();
            }
        });
    }
</script>
<style lang="scss">
    .modal-tab {
        & {
            & {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
                width: 100%;
            }

            @media #{$less-landscape-note} {
                &-enter-to,
                &-leave-active {
                    transition: opacity 0.5s;
                }

                &-enter-active,
                &-leave-to {
                    opacity: 0;
                }
            }
        }

        &__header {
            align-items: center;
            background: white;
            border-bottom: rem(1) solid $middle-grey;
            border-radius: 0;
            box-sizing: border-box;
            color: $dark-grey;
            display: none;
            height: rem(40);
            justify-content: space-between;
            padding: 0 2%;
            width: 100%;

            @media #{$less-landscape-note} {
                display: flex;
            }
        }

        &__back {
            & {
                background: none;
                border: none;
                box-sizing: border-box;
                color: $grey;
                display: block;
                float: left;
                font-size: rem(12);
                outline: none;
            }

            &:hover,
            &:active {
                color: $dark-grey;
                cursor: pointer;
            }

            span {
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 100%;

                &:before {
                    align-items: flex-start;
                    content: "‹";
                    display: flex;
                    font-size: rem(28);
                    margin-right: rem(4);
                    padding-bottom: rem(3);
                }
            }
        }

        &__title {
            color: $blue;
            display: flex;
            flex-grow: 1;
            font-weight: bold;
            justify-content: flex-start;
            margin-left: rem(20);
            text-align: center;
        }

        &__body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: calc(100% - 2.6667rem);
        }

        &__content {
            align-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: auto;
            padding: rem(20) rem(20) 0;
            width: 100%;

            @media #{$less-landscape-note} {
                padding: rem(15) 2% 0;
            }

            &:after {
                content: " ";
                display: flex;
                height: rem(20);
                width: 100%;
            }
        }

        &__toolbar {
            background: white;
            border-top: rem(1) solid $middle-grey;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;
            padding: rem(10);
            width: 100%;
        }

        &__cancel {
            & {
                background: none;
                border: none;
                border-bottom: rem(1) dotted $blue;
                color: $blue;
                font-size: rem(15);
                height: auto;
                margin-right: rem(10);
                outline: none;
                padding: 0 rem(4) rem(2) rem(4);
            }

            span {
                align-items: flex-end;
                box-sizing: border-box;
                display: flex;
                height: 100%;
                width: 100%;
            }

            &:hover {
                border-bottom-color: crimson;
                color: crimson;
                cursor: pointer;
            }
        }
    }
</style>
