<template>
    <div class='modal'>
        <slot />
    </div>
</template>
<script>
    export default {
        mounted() {
            document.body.classList.toggle("body_not-scroll");
        },

        beforeDestroy() {
            document.body.classList.toggle("body_not-scroll");
        }
    };
</script>
<style lang="scss">
    .modal {
        & {
            align-items: flex-start;
            background: rgba(0, 0, 0, 0.8);
            box-sizing: border-box;
            display: flex;
            height: 100%;
            left: 0;
            max-width: 100%;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 5;
        }
    }
</style>
