<template>
    <modal-component>
        <div class="modal-panel">
            <div class="modal-panel__panel"
                 :class="{'modal-panel__panel_has-current': hasCurrent}">
                <div class="modal-panel__header">
                    <span class="modal-panel__title">
                            {{ title }}
                    </span>

                    <div class="modal-panel__close">
                        <close-component
                                :class="'close_modal-panel'"
                                @click.native="close()" />
                    </div>
                </div>

                <div class="modal-panel__body">
                    <div class="modal-panel__sidebar">
                        <button
                                v-for="(tab) in tabs"
                                @click.prevent="changeTab(tab)"
                                class="modal-panel__change-tab"
                                :class="{'modal-panel__change-tab_active': tab.active}">
                            <span>  {{ tab.title }} </span>
                        </button>
                    </div>

                    <div class="modal-panel__modal-tabs"
                         :class="{'modal-panel__modal-tabs_has-current': hasCurrent}">
                        <slot />
                    </div>
                </div>

            </div>
        </div>
    </modal-component>
</template>
<script>
    export default {

        props: {
            title: {
                type: String,
                required: true
            },
            button: {
                validator: (value) => value.title &&
                    typeof value.title === "string" &&
                    value.action &&
                    typeof value.action === "function"
            }
        },

        inject: ["close"],

        components: {
            CloseComponent: () => import("@/components/close.vue"),
            ModalComponent: () => import("@/components/modal.vue")
        },

        data() {
            return {
                current: null,
                tabs: []
            };
        },

        computed: {
            hasCurrent() {
                return Boolean(this.current);
            }
        },

        methods: {
            addTab(tab) {
                this.tabs.push(tab);
                if (tab.active) {
                    this.current = tab;
                }
            },

            changeTab(tab) {
                this.current = tab;
                this.tabs.forEach((item) => {
                    item.active = item === tab;
                });
            },

            back() {
                this.current = null;
                this.tabs.forEach((tab) => {
                    tab.active = false;
                });
            }
        },

        provide() {
            return {
                back: this.back,
                addTab: this.addTab
            };
        }
    };
</script>
<style lang="scss">
    .modal-panel {
        & {
            align-items: center;
            display: flex;
            flex-grow: 1;
            height: 100%;
            justify-content: center;
            position: relative;
            width: 100%;
        }

        &__panel {
            border: rem(1) solid $grey;
            border-radius: rem(5);
            display: flex;
            flex-direction: column;
            height: 95%;
            justify-content: space-between;
            max-height: 95%;
            max-width: rem($screen-max-width);
            width: $screen-max-width-pr;
            z-index: 100;

            @media #{$less-landscape-note} {
                & {
                    border: none;
                    border-radius: 0;
                    flex-direction: column;
                    height: 100%;
                    left: 0;
                    max-height: 100%;
                    position: absolute;
                    top: 0;
                    transition: left 0.5s, opacity 0.5s;
                    width: 100%;
                }

                &_has-current {
                    left: -100%;
                }
            }
        }

        &__header {
            align-items: center;
            background: $blue;
            border-radius: rem(4) rem(4) 0 0;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            height: rem(40);
            justify-content: space-between;
            padding: 0 rem(15);
            width: 100%;

            @media #{$less-landscape-note} {
                background: white;
                border-bottom: rem(1) solid $middle-grey;
                border-radius: 0;
                color: $dark-grey;
                padding: 0 2%;
            }
        }

        &__title {
            color: $middle-grey;
            display: flex;
            flex-grow: 1;
            font-weight: bold;
            justify-content: center;
            text-align: center;

            @media #{$less-landscape-note} {
                color: $blue;
            }
        }

        &__close {
            display: flex;
            flex-shrink: 0;
            height: rem(22);
            padding: 0 rem(5);
            width: rem(22);
        }

        &__body {
            display: flex;
            flex-grow: 1;
            height: calc(100% - 2.6778rem);
        }

        &__sidebar {
            & {
                align-items: flex-start;
                background: white;
                border-right: rem(1) solid $middle-grey;
                box-sizing: border-box;
                display: flex;
                flex-flow: wrap column;
                min-width: rem(220);
                width: 25%;
            }

            @media #{$less-landscape-note} {
                & {
                    background: #f9f9f9;
                    flex-grow: 1;
                    min-width: auto;
                    padding-top: rem(20);
                    width: 100%;
                }
            }
        }

        &__change-tab {
            & {
                & {
                    background: white;
                    border-bottom: rem(1) solid $middle-grey;
                    box-sizing: border-box;
                    color: $grey;
                    float: left;
                    font-size: rem(14);
                    padding: rem(5) rem(10) rem(5) rem(15);
                    text-align: left;
                    width: 100%;

                    @media #{$less-landscape-note} {
                        padding: rem(5) 2%;
                    }
                }

                &:hover {
                    color: crimson;
                    cursor: pointer;
                }

                &:active {
                    box-shadow: inset 0 rem(-2) rem(151) rem(-120) rgba(128, 124, 128, 1);
                }

                &_active {
                    & {
                        color: $blue;
                        font-weight: bold;
                    }

                    &:hover {
                        color: $blue;
                    }

                    span {
                        &:after {
                            font-weight: normal;
                        }
                    }
                }
            }

            span {
                & {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

                &:after {
                    content: "›";
                    display: flex;
                    font-size: rem(30);
                    padding-left: rem(5);
                }
            }
        }

        &__modal-tabs {
            align-items: flex-start;
            background: #f9f9f9;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            @media #{$less-landscape-note} {
                & {
                    border: none;
                    border-radius: 0;
                    height: 100%;
                    left: 100%;
                    position: absolute;
                    top: 0;
                    transition: left 0.5s, width 0.5s;
                    width: 100%;
                }

                &_has-current {
                    width: 100%;
                }
            }
        }
    }
</style>
