<template>
    <transition-group tag="ul" name="list" class="notification">
        <li v-for="(notice, index) in notices"
            class="notification__notice"
            :class="{'notification__notice_warn': notice.status === NotifyStatus.WARN}"
            :key="index">
            <div class="notification__icon" v-html="require(!notice.isError ? '@/assets/img/ok.svg?inline' : '@/assets/img/error.svg?inline')" />
            <div class="notification__body">
                <div class="notification__title">
                    {{ notice.title }}
                </div>
                <div class="notification__message">
                    {{ notice.message }}
                </div>
            </div>
            <div class="notification__close">
                <close-component @click.native="remove(notice)" />
            </div>
        </li>
    </transition-group>
</template>
<script>
    import {NotifyStatus} from "@lib/NotifyService";

    export default {
        data() {
            return {
                notices: [],
                NotifyStatus
            };
        },

        created() {
            this.NotifyStatus = NotifyStatus;
            this.$eventHub.$on("addNotify", (data) => {
                this.add(data);
            });
        },

        methods: {
            add(notice) {
                this.notices.push(notice);
                setTimeout(() => {
                    this.remove(notice);
                }, 5000);
            },

            remove(notice) {
                const index = this.notices.indexOf(notice);

                if (index !== -1) {
                    this.notices.splice(index, 1);
                }
            }
        },

        components: {
            CloseComponent: () => import("@/components/close.vue")
        }
    };
</script>
<style lang="scss">
    .notification {
        & {
            display: flex;
            flex-direction: column;
            width: rem(320);
        }

        &__notice {
            & {
                align-items: center;
                background: rgba(98, 172, 98, 0.92);
                border-radius: rem(4);
                box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(8);
                padding: rem(15);
                transition: all 0.4s ease-out;
            }

            &_warn {
                background: rgba(195, 74, 67, 0.92);
            }
        }

        &__icon {
            align-items: stretch;
            display: flex;
            fill: white;
            flex-shrink: 0;
            height: rem(30);
            width: rem(30);
        }

        &__body {
            box-sizing: content-box;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            padding: 0 rem(10) 0 rem(15);
        }

        &__title {
            color: white;
            font-weight: bold;
            margin-bottom: rem(10);
            width: 100%;
        }

        &__message {
            color: white;
        }

        &__close {
            align-self: flex-start;
            display: flex;
            flex-shrink: 0;
            height: rem(22);
            padding: 0 rem(5) rem(5);
            width: rem(22);
        }
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to {
        opacity: 0;
        transform: translateY(rem(20));
    }
</style>
