<template>
    <div class="preloader">
        <div class="preloader__spinner" />
    </div>
</template>
<script>
    export default {};
</script>
<style lang="scss">
    .preloader {
        & {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
        }

        &__spinner {
            & {
                animation: spin 1s infinite linear;
                border: rem(4) solid $middle-grey;
                border-radius: 50%;
                border-top: rem(4) solid crimson;
                display: flex;
                height: rem(40);
                width: rem(40);
            }
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>
