<template>
    <element-component :type="elementType">
        <label-component
                :title="title"
                :required="required" />

        <the-mask :mask="mask"
                  :value="value" @blur="update($event)"
                  class="input" :class="{'input_error': state === statesEnum.ERROR,
                                              'input_valid': state === statesEnum.VALID }"
        />

        <error-component v-if="getErrors" v-for="(error, index) in getErrors"
                         :value="error"
                         :key="index"/>
    </element-component>
</template>
<script>
    import {TheMask} from "vue-the-mask";
    import input from "@/mixins/input";

    export default {
        props: {
            mask: {
                type: String,
                default() {
                    return "8 (###) ###-##-##";
                }

            },

            elementType: {
                validator: (value) => ["single", "double"].indexOf(value) !== -1,
                default() {
                    return "single";
                }
            }
        },

        mixins: [input],

        components: {
            TheMask
        }
    };
</script>
