<template>
    <element-component :type="elementType">
        <label-component
                :title="title"
                :required="required" />

        <input :type="inputType" :title="title"
               :value="value" @blur="update($event)"
               class="input" :class="{'input_error': state === statesEnum.ERROR,
                                              'input_valid': state === statesEnum.VALID }" />

        <error-component v-if="getErrors" v-for="(error, index) in getErrors"
                         :value="error"
                         :key="index"/>

    </element-component>
</template>
<script>
    import input from "@/mixins/input";

    export default {
        mixins: [input],

        props: {
            elementType: {
                validator: (value) => ["single", "double"].indexOf(value) !== -1,
                default() {
                    return "single";
                }
            },

            inputType: {
                validator: (value) => ["text", "email", "password"].indexOf(value) !== -1,
                default() {
                    return "text";
                }
            }
        }
    };
</script>
