<template>
    <element-component>
        <label-component :title="title" :required='required' />

        <textarea :value="value" @blur="update($event)"
                  :name="name"
                  class="input input_area" :class="{'input_error': state === statesEnum.ERROR,
                                              'input_valid': state === statesEnum.VALID }" />

        <error-component v-if="getErrors" v-for="(error, index) in getErrors"
                         :value="error"
                         :key="index"/>
    </element-component>
</template>
<script>
    import input from "@/mixins/input";

    export default {
        mixins: [input]
    };
</script>
