<template>
    <div class="top-avatar">
        <img class="img" :src="photo ? photo
                                         : require('@/assets/img/male.svg')"  />
    </div>
</template>
<script>
    export default {
        props: {
            photo: {
                type: String
            }
        }
    };
</script>
<style lang="scss">
    .top-avatar {
        & {
            background: white;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }
    }
</style>
