<template>
    <div class="dropdown" ref="dropdown">
        <router-link @click.native="setDropped(false)" to="/" class="dropdown__item">Мой профиль </router-link>
        <span class="dropdown__hr" ></span>
        <button class="dropdown__item" @click="logout()"> Выйти </button>
    </div>
</template>
<script>
    import {logout} from "@/services/AuthService";

    export default {

        props: {
            isDropped: {
                type: Boolean,
                required: true
            }
        },

        data() {
            return {
                message: null,
                token: null
            };
        },

        methods: {
            hide(e) {
                if (this.isDropped) {
                    const el = this.$refs.dropdown;
                    const target = e.target;

                    if (el !== target && !el.contains(target)) {
                        this.setDropped(false);
                    }
                }
            },

            setDropped(value) {
                this.$emit("update:isDropped", value);
            },

            logout() {
                logout();
            }
        },

        mounted() {
            document.addEventListener("click", this.hide);
        },

        destroyed() {
            document.removeEventListener("click", this.hide);
        }
    };
</script>
<style lang="scss">
    .dropdown {
        & {
            background: white;
            border: rem(1) solid $middle-grey;
            border-radius: rem(5);
            box-shadow: 0 rem(3) rem(3) rem(1) rgba(173, 167, 173, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: rem(5) 0;
            width: rem(150);
        }

        &__item {
            & {
                background: none;
                border: none;
                box-sizing: border-box;
                color: $blue;
                display: flex;
                outline: none;
                padding: rem(6) rem(10);
                width: 100%;
            }

            &:hover {
                background: $middle-grey;
                cursor: pointer;
            }
        }

        &__hr {
            background: $middle-grey;
            box-sizing: border-box;
            display: flex;
            height: rem(1);
            margin: rem(3) 0;
            width: 100%;
        }
    }
</style>
