<template>
    <div class="login">
        <form class="login__form" ref="form" action="/j_spring_security_check" method='POST'  novalidate="true">
            <input type="hidden" :name="crsf.name" :value="crsf.value" />

            <div class="login__credentials">
                <div>
                    <span>Email:</span> test@mail.ru
                </div>
                <div>
                    <span>Password: </span> admin
                </div>

            </div>

            <div class="login__item">
                <input-field-component
                        :value.sync="email"
                        :validation = "$v.email"
                        :errors="emailErrors"
                        :name="'username'"
                        :type="'email'"
                        :placeholder="'Электронная почта'"
                        :icon="require('@/assets/img/email.svg?inline')"
                />
            </div>
            <div class="login__item">
                <input-field-component
                        :value.sync="password"
                        :validation = "$v.password"
                        :errors="passwordErrors"
                        :name="'password'"
                        :type="'password'"
                        :placeholder="'Пароль'"
                        :icon="require('@/assets/img/password.svg?inline')"
                />
            </div>

            <div class="login__item" v-if="captcha.isShow" >
                <captcha-component :site-key="captcha.siteKey"
                                   :value.sync="captcha.isValid"
                                   :validation="$v.captcha.isValid"/>
            </div>
            <div class="login__item">
                <button-component
                        @click.native.prevent="submit"
                        :value="'Войти'"
                        :disabled="$v.$invalid"/>
            </div>
            <div class="login__item">
                <auth-error-component
                        v-if="authError"
                        :message="authError" />
            </div>
        </form>
    </div>
</template>
<script>
    import {validationMixin} from "vuelidate";
    import {email, minLength, required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        data() {
            return {
                email: "",
                password: "",

                captcha: {
                    siteKey: null,
                    isShow: false,
                    isValid: true
                },

                crsf: {
                    name: null,
                    value: null
                },

                authError: null
            };
        },

        validations() {
            if (this.captcha.isShow) {
                return {
                    email: {
                        required,
                        email
                    },

                    password: {
                        required,
                        minLength: minLength(5)
                    },

                    captcha: {
                        isValid: {
                            verify: (value) => value === true
                        }
                    }
                };
            }

            return {
                email: {
                    required,
                    email
                },

                password: {
                    required,
                    minLength: minLength(5)
                }
            };
        },

        created() {
            this.initCrsf();
            this.initCaptcha();
            this.initAuthError();
        },

        computed: {
            emailErrors() {
                const errors = [];

                if (this.$v.email.$dirty && this.$v.email.$invalid) {
                    errors.push("Введите коректный email");
                }

                return errors;
            },

            passwordErrors() {
                const errors = [];

                if (!this.$v.password.$dirty) {
                    return errors;
                }
                if (!this.$v.password.required) {
                    errors.push("Пожалуйста, введите пароль");
                }
                if (!this.$v.password.minLength) {
                    errors.push("Длина пароля не менее 5 символов");
                }

                return errors;
            }
        },

        methods: {
            initAuthError() {
                const hidden = document.getElementsByClassName("js-auth-error");

                if (hidden && hidden[0]) {
                    this.authError = hidden[0].value;
                }
            },

            initCrsf() {
                const hidden = document.getElementsByClassName("js-crsf");

                if (hidden && hidden[0]) {
                    this.crsf = {
                        name: hidden[0].name,
                        value: hidden[0].value
                    };
                }
            },

            initCaptcha() {
                const hidden = document.getElementsByClassName("js-captcha");

                if (hidden && hidden[0]) {
                    this.captcha.siteKey = hidden[0].value;
                    this.captcha.isValid = false;
                    this.captcha.isShow = true;
                }
            },

            submit() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.$refs.form.submit();
                }
            }
        },

        components: {
            CaptchaComponent: () => import("@/components/captcha.vue"),
            AuthErrorComponent: () => import("./components/auth-error.vue"),
            InputFieldComponent: () => import("@/components/input-field.vue"),
            ButtonComponent: () => import("@/components/button.vue")
        }
    };
</script>
<style lang="scss">
    .login {
        & {
            align-items: center;
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        &__form {
            background: white;
            border: rem(1) solid whitesmoke;
            border-radius: rem(7);
            box-shadow: 0 rem(3) rem(3) rem(1) rgba(173, 167, 173, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-grow: 0;
            flex-wrap: wrap;
            justify-self: center;
            max-width: rem(450);
            padding: rem(24) rem(60);
            width: 96%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(20);
            width: 100%;
        }

        &__credentials {
            & {
                display: flex;
                flex-wrap: wrap;
                font-size: rem(16);
                font-style: italic;
                margin-bottom: rem(20);
                width: 100%;
            }

            div {
                color: $dark-grey;
                display: flex;
                margin-bottom: rem(8);
                width: 100%;
            }

            span {
                color: $grey;
                margin-right: rem(5);
            }
        }
    }
</style>
