<template>
    <div class="top-profile" v-if="profile">
        <a href="#" class="top-profile__link" :class="{'top-profile__link_focus': isDropped }"
           @click.prevent="toggle()">
            <div class="top-profile__avatar">
                <avatar-component :photo="profile.photo" />
            </div>
            <div class="top-profile__details">
                {{ profile.name }}
            </div>
        </a>
        <div class="top-profile__dropdown" v-if="isDropped">
            <dropdown-component :is-dropped.sync="isDropped" />
        </div>
    </div>
</template>
<script>
    import {mapGetters} from "vuex";
    import {namespace, Types} from "@/store/profile/const";

    export default {
        data() {
            return {
                isDropped: false
            };
        },

        computed: {
            ...mapGetters(namespace, [Types.getters.profile])
        },

        methods: {
            toggle() {
                this.isDropped = !this.isDropped;
            }
        },

        components: {
            DropdownComponent: () => import("@/portlets/top-profile/components/dropdown.vue"),
            AvatarComponent: () => import("@/portlets/top-profile/components/avatar.vue")
        }
    };
</script>
<style lang="scss">
    .top-profile {
        & {
            display: flex;
            height: 100%;
            position: relative;
        }

        &__link {
            & {
                & {
                    align-items: center;
                    background: none;
                    border: none;
                    display: flex;
                    height: 100%;
                    outline: none;
                    padding: 0 rem(10);
                }

                &:hover {
                    background: #6a6a6a;
                    cursor: pointer;
                }
            }

            &_focus {
                & {
                    background: #626262;
                }

                &:hover {
                    background: #626262;
                    cursor: pointer;
                }
            }
        }

        &__avatar {
            display: flex;
            height: rem(30);
            justify-content: center;
            width: rem(30);
        }

        &__details {
            color: white;
            display: flex;
            font-size: rem(13);
            font-weight: bold;
            margin-left: rem(10);
        }

        &__dropdown {
            display: flex;
            position: absolute;
            right: rem(-5);
            top: rem(52);
        }
    }
</style>
