<template>
    <modal-tab :title="'Контактная информация'">
        Пустая вкладка
    </modal-tab>
</template>

<script>
    import {mapGetters} from "vuex";
    import {namespace, Types} from "@/store/profile/const";
    import {pick} from "@lib/ObjectHelper";

    export default {
        data() {
            return {
                contacts: {}
            };
        },

        methods: {
            initContacts() {
                return pick(this.entity, "mobilePhone");
            }
        },

        created() {
            this.contacts = this.initContacts();
        },

        computed: {
            ...mapGetters(namespace, {
                entity: Types.getters.profile
            })
        },

        components: {
            TelInput: () => import("@/components/tel-input.vue"),
            ModalTab: () => import("@/components/modal-tab.vue")
        }
    };
</script>
