<template>
    <modal-tab :title="'Личная информация'" :is-active="isLargePortraitNote">
        <template>
            <text-input :title="'Имя:'"
                        :value.sync="personal.name"
                        :element-type="'double'"
                        :required="true"
                        :validation="$v.personal.name"
                        :server-errors="serverErrors.name"/>

            <text-input :title="'Фамилия:'"
                        :element-type="'double'"
                        :validation="$v.personal.surname"
                        :value.sync="personal.surname" />

            <date-input :title="'День рождения:'"
                        :value.sync="personal.birthday"/>

            <gender-component :value.sync="personal.gender" />

            <text-area :title="'Примечания'"
                       :value.sync="personal.note"
                       :validation="$v.personal.note"/>
        </template>
        <template slot="toolbar">
            <button-component @click.native="updatePersonal">
                Сохранить
            </button-component>
        </template>
    </modal-tab>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {namespace, Types} from "@/store/profile/const";
    import {pick} from "@lib/ObjectHelper";
    import {required} from "vuelidate/lib/validators";
    import {withParams} from "vuelidate";
    import {addConstraintViolationsNotify} from "@lib/NotifyService";
    import errorHandler from "@/mixins/errorHandler";

    export default {
        mixins: [errorHandler],

        data() {
            return {
                personal: {}
            };
        },

        methods: {
            ...mapActions(namespace, {
                update: Types.actions.UPDATE
            }),

            updatePersonal() {
                this.$v.personal.$touch();
                if (!this.$v.personal.$invalid) {
                    this.update(this.personal).then(() => {
                        this.$v.personal.$reset();
                    });
                }
                else {
                    addConstraintViolationsNotify();
                }
            },

            initPersonal() {
                return pick(this.entity, "name", "surname", "birthday", "gender", "note");
            }
        },

        validations: {
            personal: {
                name: {
                    required: withParams({msg: "Пожалуйста, укажите имя"}, required)
                },
                surname: {},
                note: {}
            }
        },

        created() {
            this.personal = this.initPersonal();
        },

        computed: {
            ...mapGetters(namespace, {
                entity: Types.getters.profile
            }),

            isLargePortraitNote() {
                return this.$mq === "landscapeNote" || this.$mq === "standard";
            }
        },

        components: {
            ButtonComponent: () => import("@/components/button.vue"),
            GenderComponent: () => import("@/components/gender.vue"),
            DateInput: () => import("@/components/date-input.vue"),
            TextArea: () => import("@/components/text-area.vue"),
            TextInput: () => import("@/components/text-input.vue"),
            ModalTab: () => import("@/components/modal-tab.vue")
        }
    };
</script>
