<template>
    <modal-tab :title="'Сменить пароль'">
        Смена пароля
    </modal-tab>
</template>
<script>
    export default {
        components: {
            ModalTab: () => import("@/components/modal-tab.vue")
        }
    };
</script>
