<template>
    <div class="layout">
        <div class="layout__notification">
            <notification-component />
        </div>
        <div class="layout__body">
            <div class="layout__top">
                <div class="layout__content">
                    <top-section />
                </div>
            </div>
            <div class="layout__main">
                <div class="layout__content">
                    <slot />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from "vuex";
    import {namespace, Types} from "@/store/app/const";

    export default {
        computed: {
            ...mapGetters(namespace, [Types.getters.isReady])
        },

        components: {
            NotificationComponent: () => import("@/components/notification.vue"),
            TopSection: () => import("@/template/sections/top.vue")
        }
    };
</script>
<style lang="scss">
    .layout {
        & {
            height: 100%;
            overflow: auto;
            width: 100%;
        }

        &__notification {
            display: flex;
            padding: rem(5);
            position: fixed;
            z-index: 1000;
        }

        &__loader {
            background: white;
            display: flex;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        &__body {
            align-items: center;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 100%;
        }

        &__top {
            background: #797979;
            display: flex;
            flex-shrink: 0;
            height: rem(50);
            justify-content: center;
            width: 100%;
        }

        &__main {
            align-items: flex-start;
            background: #f9f9f9;
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: rem(20);
            width: 100%;

            &:after {
                content: " ";
                display: flex;
                height: rem(20);
                width: 100%;
            }
        }

        &__content {
            box-sizing: border-box;
            display: flex;
            max-width: rem($screen-max-width);
            padding: 0 2%;
            width: 100%;
        }
    }
</style>
