<template>
    <div class="layout">
        <slot />
    </div>
</template>
<script>
    export default {};
</script>
<style lang="scss">
    .layout {
        & {
            background: #f9f9f9;
            display: flex;
            flex-grow: 1;
            width: 100%;
        }
    }
</style>
