<template>
    <app-template>
        <login-portlet />
    </app-template>
</template>

<script>
    export default {
        components: {
            AppTemplate: () => import("@/template/template.vue"),
            LoginPortlet: () => import("@/portlets/login/view.vue")
        }
    };
</script>
<style lang="scss">
    @import "~@/assets/scss/styles";
</style>
