<template>
    <div class="page">
        <profile-portlet />
        <edit-profile-portlet v-if="isShowEditProfile" />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                isShowEditProfile: false
            };
        },

        methods: {
            showEditProfile() {
                this.isShowEditProfile = true;
            },

            closeEditProfile() {
                this.isShowEditProfile = false;
            }
        },

        provide() {
            return {
                close: this.closeEditProfile,
                showEditProfile: this.showEditProfile
            };
        },

        components: {
            ProfilePortlet: () => import("@/portlets/profile/view.vue"),
            EditProfilePortlet: () => import("@/portlets/edit-profile/view.vue")
        }
    };
</script>
<style lang="scss">
    .page {
        display: flex;
        width: 100%;
    }
</style>
