<template>
    <modal-panel :title="'Редактирование профиля'">
        <personal-tab />
        <contacts-tab />
    </modal-panel>
</template>
<script>
    export default {
        components: {
            PersonalTab: () => import("./components/personal-tab.vue"),
            ContactsTab: () => import("./components/contacts-tab.vue"),
            ModalPanel: () => import("@/components/modal-panel.vue")
        }
    };
</script>
