<template>
    <app-template v-if="isLoggedIn && isReady">
        <router-view />
    </app-template>
    <preloader-component v-else-if="isLoggedIn" />
    <login-component v-else/>
</template>

<script>
    import {checkCredentials} from "@/services/AuthService";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import {namespace as appNamespace, Types as appTypes} from "@/store/app/const";
    import {namespace as profileNamespace, Types as profileTypes} from "@/store/profile/const";

    export default {

        computed: {
            ...mapGetters(appNamespace, [
                appTypes.getters.isLoggedIn,
                appTypes.getters.isReady
            ]),
            ...mapGetters(profileNamespace, [profileTypes.getters.profile])
        },

        methods: {
            ...mapMutations(appNamespace, {
                setLoggedIn: appTypes.mutations.SET_LOGGED_IN,
                setReady: appTypes.mutations.SET_READY
            }),

            ...mapActions(profileNamespace, {
                fetch: profileTypes.actions.FETCH
            })
        },

        async created() {
            this.setLoggedIn(checkCredentials());
            if (this.isLoggedIn) {
                await this.fetch();
                this.setReady(true);
            }
        },

        components: {
            PreloaderComponent: () => import("@/components/preloader.vue"),
            LoginComponent: () => import("@/components/login.vue"),
            AppTemplate: () => import("@/template/template.vue")
        }
    };
</script>
<style lang="scss">
    @import "~@/assets/scss/styles";
</style>
