<template>
    <div class="profile" v-if="profile">
        <div class="profile__main-info">
            <div class="profile__layout profile__layout_left">
                <div class="profile__avatar">
                    <avatar-component :avatar="profile.photo" />
                </div>
                <div class="profile__to-edit">
                    <to-edit-component />
                </div>
            </div>
            <div class="profile__layout profile__layout_right">
                <div class="profile__full-name">
                    <full-name-component :name="profile.name" :surname="profile.surname" />
                </div>
                <div class="profile__details">
                    <details-component :profile="profile" />
                </div>
            </div>
        </div>
        <div class="profile__note">
            <note-component :note="profile.note" />
        </div>
    </div>
</template>
<script>
    import {mapGetters} from "vuex";
    import {namespace, Types} from "@/store/profile/const";

    export default {
        computed: {
            ...mapGetters(namespace, [Types.getters.profile])
        },

        components: {
            AvatarComponent: () => import("./components/avatar.vue"),
            ToEditComponent: () => import("./components/to-edit.vue"),
            FullNameComponent: () => import("./components/full-name.vue"),
            DetailsComponent: () => import("./components/details.vue"),
            NoteComponent: () => import("./components/note.vue")
        }
    };
</script>
<style lang="scss">
    .profile {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__main-info {
            display: flex;
            justify-content: space-between;
            width: 100%;


            @media #{$less-landscape-note} {
                background: white;
                border-radius: rem(7);
                box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }

        &__layout {
            & {
                background: white;
                border-radius: rem(7);
                box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding: rem(10);

                @media #{$less-landscape-note} {
                    background: none;
                    border-radius: 0;
                    box-shadow: none;
                }
            }

            &_left {
                align-items: center;
                margin-right: rem(20);
                width: rem(300);

                @media #{$less-landscape-note} {
                    margin-right: 0;
                    width: 100%;
                }
            }

            &_right {
                flex-grow: 1;

                @media #{$less-landscape-note} {
                    width: 100%;
                }
            }
        }

        &__avatar {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__full-name {
            display: flex;
            width: 100%;
        }

        &__details {
            display: flex;
            width: 100%;
        }

        &__to-edit {
            display: flex;
            width: 100%;
        }
    }
</style>
